In [18]:
# https://yandex.ru/cup/profile/

# https://yandex.ru/cup/algorithm/analysis/

In [19]:
import numpy as np

In [20]:
from math import factorial

In [21]:
# A. Посчитать лгунов в стране
pravda=0.8
lgun=0.4
num_peoples=10000
size=100
proportion_pravda=0.7
proportion_lguns=1-proportion_pravda
# baes?
"""
1:
    real lguns > calc lguns
2:
    real lguns == calc lguns
3:
    real lguns < calc lguns
p1+p2+p3=1
p2 = ???
p_povtor = 

число сочетаний с повторениями:
((n+k-1)!)/(k!*(n-1)!)=
((10000+100-1)!)/()

какова вероятность при вопросе "Вы лгун" услышать ответ "Нет"?
    ответ "Нет" могут сказать в 2 случаях:
    1. правдоруб сказал правду, p1 = proportion_pravda*pravda = 0.56
    2. лгун солгал, p2 = (1-proportion_pravda)*(1-lgun)=0.18
    итоговая вероятность в ответ на вопрос "Вы лгун?" услышать ответ "Нет" = 0.56 + 0.18=0.74

итого в случае сочетания без повторений я имел бы бинарное событие с заданными вероятностями.

но у меня сочетания с повторениями.

сколькими способами можно разместить в выборке из 100 предметов шары 2 цветов? каждый шар можно использовать 2 раза.
нет.

вариант 1:
    лгун1
    лгун1
    ...
    лгун1 = 100 раз

    вероятность выбора только 1 (любого) лгуна = p3 = (proportion_lguns*num_peoples)/(num_peoples**size)
    вероятность недооценить кол-во лгунов  при этом = p3*p2
    
но нам не нужно набирать все 100 лгунов и чтобы они врали. нам нужно подсчитать кол-во исходов, при котором хотя бы 29 и
менее раз будет сказан ответ "Нет"!

    вероятность выбора только 1 (любого) лгуна более 70 раз (из 100, но это не важно) = p4 = (proportion_lguns*num_peoples)/(num_peoples**(size*proportion_pravda))
    вероятность услышать Нет (недооценить кол-во лгунов) при этом = p4*p2

так, лучше оперировать числом исходов.

сколькими разными способами можно выбрать 70 раз одного лгуна из исходной выборки?
перефразировка:
в корзине 10000 шаров. 7000 черных и 3000 белых.
нам нужно набрать последовательность из 100 шаров.
при этом после выбора шар возвращается в корзину.
сколькими разными способами можно выбрать 70 одинаковых белых шаров?

1/(10000**70) = вероятность выбрать 1 и тот же шар 70 и более раз подряд (читай: 70 или 71 или ... 100 = сумма вероятностей)

10000**100 = число исходов при наборе выборки с возвращением.

вопрос: сколькими разными способами можно выбрать 70 одинаковых белых шаров из 70?
ответ: 3000
ответ: 3000*(10000**(70-70))

вопрос: сколькими разными способами можно выбрать 70 одинаковых белых шаров из 71?
ответ: 3000*(10000**(71-70))

вопрос: сколькими разными способами можно выбрать 70 одинаковых белых шаров из 72?
ответ: 3000*(10000**(72-70))

вопрос: сколькими разными способами можно выбрать 70 одинаковых белых шаров из 100?
ответ: 3000*(10000**(100-70))

вопрос: сколькими разными способами можно выбрать 70 одинаковых черных шаров из 100?
ответ: 7000*(10000**(100-70))

вопрос: сколькими разными способами можно выбрать m<=n одинаковых белых шаров из n?
ответ: 3000*(10000**(n-m))

вопрос: сколькими разными способами можно выбрать 1<=n<=100 любых белых шаров?
n=1 : 3000
n=2 : 3000**2
n : 3000**n


    вопрос: сколькими разными способами можно выбрать 1<=n<=100 белых шаров, из которых m<=n одинаковых?
    3000*(10000**(n-m))
    n=100 m=0:
        error
    n=100 m=1:
        3000*(10000**(100-1))=

у нас есть 100 выборов с возвращением и 3000+7000=10000 объектов
    число комбинаций:
    all=10000**100

    quota=71 (100-(30-1))

    (3000*(10000**(100-71))/all)*0.18+\


            (3000*(10000**(100-71))/all)*0.18+\
                (3000*(10000**(100-71))/all)*0.18+\
                    (3000*(10000**(100-71))/all)*0.18+\
                        (3000*(10000**(100-71))/all)*0.18+\
                            (3000*(10000**(100-71))/all)*0.18
    (n+k-1)!/(k!*(n-1)!)?

вопрос: сколькими разными способами можно выбрать 100 шаров?
ответ:(10000+100-1)!/(100!*(10000-1)!)

вопрос: сколькими разными способами можно выбрать 1<=n<=100 белых шаров, из которых m<=n одинаковых?


18 октября 2020
число сочетаний без повторения описывается формулой бернулли:
10000!/(100!*(10000-100)!) - это число различных сочетаний людей, в которых не встречается ни одного повтора. 
для вероятности такого ответа "Нет" в этом случае мы можем записать:
C(nk)*

""";

In [53]:
# B. Театральный сезон и телефоны
import pandas as pd

In [61]:
df1=pd.read_csv('ticket_logs.csv',names=[0,1])

In [62]:
df1.shape

(3523, 2)

In [68]:
df2=df1.drop_duplicates()
df2.shape

(3523, 2)

In [73]:
set_symbols=set()
for v in df2[1].values:
    set_=set(v)
    if 'a' in set_:
        print(v)
    set_symbols=set_symbols|set_

+8806dollars
8-804-weapons
+8805manager
8-805-manager
8-802-program
8807journal
8-807-stadium
8-807-balance
8804airport
8805manager
+8805federal
+8804airport
+8802program
8-801-academy
+8801academy
+8804payment
8802program
8806dollars
8805federal
8801academy
8-805-federal
+8801library

In [78]:
t=list(set_symbols)
t.sort()
t

['(',
 ')',
 '+',
 '-',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w',
 'y']

In [82]:
def remove_symbols(phone_number):
    return str(phone_number).replace("(","")\
        .replace(")","")\
        .replace("+","")\
        .replace("-","")

In [84]:
df2[2]=df2[1].apply(remove_symbols)

In [87]:
df3=df2[[0,2]]
df3.shape

(3523, 2)

In [89]:
df4=df3.drop_duplicates()
df4.shape

(3258, 2)

In [99]:
df4.groupby(by=0,as_index=False).agg('count').sort_values(by=2,ascending=False).head()

                   0    2
9              Кошки  181
20  Спящая красавица  175
5          Дон Кихот  175
8             Кармен  171
11   Лебединое озеро  171

In [221]:
# C. Рассчитать pFound

In [222]:
df_hostid_url=pd.read_csv('hidden_task/hostid_url.tsv',sep='\t',names=["hostid","url"],converters={'url':str,'hostid':str})
df_hostid_url.head()

  hostid                                                url
0      1                 http://09spravki.ru/requisites.php
1     10                  http://3pu.info/seo-tools/domains
2   1006                     http://www.priroda.su/item/820
3   1007  http://www.prisnilos.su/znaki_zodiaka/strelets...
4   1009             http://www.prohotel.ru/hotel-108042/0/

In [223]:
df_qid_query=pd.read_csv('hidden_task/qid_query.tsv',sep='\t',names=['qid','query'],converters={'qid':str,'query':str})
df_qid_query.head()

      qid                                   query
0  402111           работа фотографом в австралии
1  405851            производительность видеокарт
2  407522  ёлочные игрушки из пластиковых бутылок
3  409073                                    туту
4  438518                характеристика стрельцов

In [224]:
df_qid_url_rating=pd.read_csv('hidden_task/qid_url_rating.tsv',sep='\t',names=['qid','url','rating'],converters={'qid':str,'url':str,'rating':float})
df_qid_url_rating.head()

      qid                                                url  rating
0  402111  http://24-job.com/board/job_australia/232-1-2-...    0.07
1  402111  http://24-job.com/board/job_australia/232-1-2-...    0.07
2  402111           http://802351.info/5964-v-avstralii.html    0.00
3  402111                 http://auscommunity.com/blog/jobs/    0.00
4  402111  http://auscommunity.com/tag/%D1%84%D0%BE%D1%82...    0.00

In [225]:
df_qid_url_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qid     803 non-null    object
 1   url     803 non-null    object
 2   rating  803 non-null    float64
dtypes: float64(1), object(2)
memory usage: 18.9+ KB

In [226]:
df_hostid_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hostid  803 non-null    object
 1   url     803 non-null    object
dtypes: object(2)
memory usage: 12.7+ KB

In [227]:
df_qid_query.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qid     20 non-null     object
 1   query   20 non-null     object
dtypes: object(2)
memory usage: 448.0+ bytes

In [228]:
df_hostid_url[]

SyntaxError: invalid syntax (<ipython-input-228-6ec224e5aec9>, line 1)

In [229]:
dft=pd.merge(df_qid_url_rating,df_hostid_url,on='url').sort_values(by=['hostid','rating'],ascending=[True,False]).reset_index(drop=True)

In [230]:
dft.head()

      qid                                                url  rating hostid
0   70357                 http://09spravki.ru/requisites.php    0.00      1
1    5308                  http://3pu.info/seo-tools/domains    0.00     10
2  407522                     http://www.priroda.su/item/820    0.00   1006
3  438518  http://www.prisnilos.su/znaki_zodiaka/strelets...    0.14   1007
4   79514             http://www.prohotel.ru/hotel-108042/0/    0.07   1009

In [231]:
dict_ranks=dict([(key,0) for key in dft['hostid'].values])

In [232]:
ranks=[]
for hostid in dft['hostid'].values:
    ranks.append(dict_ranks[hostid])
    dict_ranks[hostid]+=1

In [233]:
dft['ranks']=ranks

In [234]:
dft2=dft[dft['ranks']==0]
dft2.shape

(580, 5)

In [235]:
dft2=dft2.sort_values(by=['qid','rating'],ascending=[True,False]).reset_index(drop=True)

In [236]:
t=dft2['qid'].unique()
dict_ranks2=dict([(e,0) for e in t])

In [237]:
ranks2=[]
for qid in dft2['qid']:
    ranks2.append(dict_ranks2[qid])
    dict_ranks2[qid]+=1

In [238]:
dft2['ranks2']=ranks2

In [239]:
dft3=dft2[dft2['ranks2']<10].reset_index(drop=True)
dft3.shape

(200, 6)

In [240]:
dft3.head()

,qid,url,rating,hostid,ranks,ranks2
0,402111,http://imjuli-au.livejournal.com/tag/%D1%84%D0...,0.14,228,0,0
1,402111,http://www.victor.zll.wedlife.ru/photographers...,0.07,1127,0,1
2,402111,http://forum.awd.ru/viewtopic.php?t=160801&p=2...,0.07,154,0,2
3,402111,http://rabotatam.ru/forum/21-avstralija/,0.07,450,0,3
4,402111,http://australia.hh.ru/,0.07,55,0,4

In [241]:
dict_3=dict(enumerate(dft3['rating'].values))
dict_3
plook=[]
for i,rating in enumerate(dft3['rating'].values):
    if i%10==0:
        plook.append(1)
    else:
        plook.append(plook[-1]*(1-dict_3[i-1]))

In [242]:
dft3['plook']=plook
dft3['pfound']=dft3[['rating','plook']].apply(lambda p:p[0]*p[1],axis=1)
res=dft3[['qid','pfound']].groupby(by='qid',as_index=False).agg('sum').sort_values(by='pfound',ascending=False)['qid'].values[0]

In [243]:
df_qid_query[df_qid_query['qid']==res]

       qid                            query
14  692308  бесплатный просмотр камеди клаб

In [290]:
# D. Спортивный турнир
# number if strings
from collections import Counter

def log2(num):
    for i in range(1,17):
        if 2**i==num:
            return i
    return 0

def solve(file='input.txt'):
    set_games=set()
    f=open(file,'r')
    players=dict()
    n=int(f.readline())
    num_games=n
    candidates=[]
    max_games=int(log2(num_games+1))
    if max_games==0:
        return 'NO SOLUTION'
    while n:
        s=f.readline()
        pair=s.split()
        if pair==[]:
            continue
        n-=1
        check = max(pair)+" "+min(pair)
        if check in set_games:
            return 'NO SOLUTION'
        else:
            set_games|=set([check])
        for player in pair:
            if player in players.keys():
                players[player]+=1
                if players[player] == max_games:
                    candidates.append(player)
            else:
                players[player]=1
    if candidates.__len__()!=2:
        return 'NO SOLUTION'
    list_players=players.items()
    dict_num_games=(Counter([games for player,games in list_players]))
    cnt=(num_games+1)/2
    for num in range(1,max_games):
        if num not in dict_num_games.keys():
            return 'NO SOLUTION'
        if dict_num_games[num] != cnt:
            return 'NO SOLUTION'
        cnt/=2
    return " ".join(candidates)

print(solve('input.txt'))

65 129

3.0